# Copie este arquivo para .env antes de rodar o projeto
# cp .env.example .env

MONGO_URI=mongodb+srv://petcare-visitor:PetCare%402024@petcare.n1dlipk.mongodb.net/petcare?retryWrites=true&w=majority&appName=petcare
PORT=3001
JWT_SECRET=petcare_secret_2024